<body>
<div class="container">
  <h3>Your one-stop resource for restaurants in the greater Little Rock, Arkansas area.</h3>
  <br>
  <hr>
  <div id="linkto"><%= link_to 'Add Your Review', new_recommendation_path %></div>
  <hr>
  <div class="row tableheader">
    <div class="col header">Name</div>
    <div class="col header">Location</div>
    <div class="col header">Rating</div>
    <div class="col header">Review</div>
    <div class="col header"></div>
  </div>
  <% @recommendations.each do |recommendation| %>
  <div class="row">
    <div class="col nameheader"><%= recommendation.name %></div>
    <div class="col"><%= recommendation.location %></div>
    <div class="col"><%= recommendation.rating %></div>
    <div class="col"><%= recommendation.review %></div>
    <div class="col">
      <div id="linkback"><%= link_to 'Read Review', recommendation_path(recommendation) %></div>
      <div id="linkback"><%= link_to 'Edit Review', edit_recommendation_path(recommendation) %></div>
      <div id="linkback"><%= link_to 'Delete Review', recommendation_path(recommendation), method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  </div>
  <% end %>
</div>
</body>

<style>

  .container {
    width: 80%;
    margin: 1% auto;
  }
  h1, h3, #linkto {
    text-align: center;
    margin: 0 auto;
  }
  #linkto  {
    font-size: 1.8em;
  }
  #linkto:hover, #linkback:hover {
    color: white;
  }
  .row, .header {
    border-bottom: 3px black solid;
  }
  .tableheader, .nameheader {
    font-weight: bolder;
  }
  #linkback {
    font-size: 1.3em;
  }
  li {
    padding: 0 2%;
  }
  ul {
    text-align: right;
  }

</style>
